# Copy this file to .env and update the values as needed

#====================================================================================
# School Management System - Docker Environment Variables
#Never Commit This File To A git Repository
#====================================================================================

# PostgreSQL Database Configuration
POSTGRES_USER=school_admin
POSTGRES_PASSWORD=securepassword123
POSTGRES_DB=school_management_db

#PGAdmin Configuration
PGADMIN_EMAIL = gowthamsway1995@gmail.com
PGADMIN_PASSWORD = adminpassword123

# Backup Settings
RETENTION_DAYS=7
RETENTION_MONTHS=6
RETENTION_WEEKS=4

# Node Environment
NODE_ENV=development
